 /* a minimalist set of CSS resets */

/* default to border-box */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/* adjust typography defaults */
body {
  margin: 0;
  font-family: serif;
  font-size: 20px;
}

/* images and videos max out at full width */
img,
video {
  height: auto;
  max-width: 100%;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');


body {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    background-color:#3e4047;
    color: #32b0a3;
    margin-top: 5rem;
    margin-left: 5rem;
    display: flex;
	justify-content: center;
    align-items: flex-start;
}

.flexbox {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
    align-items: flex-start;
    
}

.placement {
    display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
    align-items: flex-start;
    
}

.gameDescription {
    margin-left: 4rem;
    color: #c2b4b4;
}

.gameDescription p {
    font-size: 3rem;
    font-weight: bold;
}
.gameDescription article {
    font-size: 2rem;
    font-style: italic;
}


h1 {
    font-size: 5rem;
}

.box {
    
	flex-wrap: nowrap;
	justify-content: space-around;
    align-items: flex-start;
}

.scoreSection {
    /* align-self:center */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.scoreRectangle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    background-color: #fbf593;
    border-radius: 30px 30px 30px 30px;
    width: 600px;
    height: 150px;
    font-size: 5rem;
    color: black;
    font-weight: bolder;
}

.leftRec{
    margin-right: 4rem;
    margin-left: 13rem;
    margin-bottom: 2rem;
}

.icon {
    margin-right: 2rem;
}
.trashIcon {
    width: 4rem;
    height: 5rem;
}

.oxygenBottle {
    width: 10rem;
    height: 10rem;
}

.rubbishScore {
    font-weight: bold;
}

.deadDwellerIcon {
    width: 8rem;
    height: 5rem;   
}

.deadDwellers{
    font-weight: bold;
}

.rightRec{
    margin-left: 4rem;
    width: 600px;
    /* background-color: #1a596d;*/
}

.rightRec p {
    color: black;
    font-size: 3rem;
}

.rightScoreLeft {
    margin-right: .7rem;
}

.rightScoreRight{
    margin-left: .7rem;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.secondLine {
    margin-top: 2rem;
}

.redWarning {
    /*background-color: red; */
    animation: blinkingBackground 2s infinite;
}

@keyframes blinkingBackground{
    0%		{ background-color: #891810;}
    25%		{ background-color: #fbf593;}
    50%		{ background-color: #891810;}
    75%		{ background-color: #fbf593;}
    100%	{ background-color: #891810;}
}

.orangeWarning {
    background-color: #f7853c;
}

.munitionIcon{
    width: 6rem;
    height: 6rem;  
}

#reload {
    font-size: 4rem;
    background-color: #891810;
    color: #fbf593;
    text-align: center;
    height: 15rem;
}

.setBottom {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    text-align: center;
}

.description h1 {
    font-size: 10rem;

}

.description h2 {
    font-size: 6rem;
}

.text1 {
    font-size: 4rem;
}

.instructions {
    font-size: 5rem;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    color: #3e4047;
    margin-top: 10rem;
    background-color:#3e4047;
    display: flex;
	justify-content: center;
    align-items: flex-start;
}

.square {
    background-image: url('../assets/background/Hintergrund.png');
    background-size: 100% 100%;
    width: 150rem;
    height: 150rem;
}

.box {
    display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: center;
	align-items: center;
}


.message {
    font-size: 6rem;
    margin-top: 50rem;
    font-weight: bold;
    text-align: center;
    color: #3e4047;
    margin-bottom: 7rem;
}

.box p{
    font-size: 5rem;
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 1rem;
}

.clickStartAgain {
    font-size: 8rem;
    text-decoration: none;
    color:#2f9aa5;
    background-color: #2864a8;
    border-radius: 70% 70% 0% 0%;
    margin-top: 13rem;
    padding-top: 3rem;
    padding-bottom: 1rem;
    width: 150rem;
    display: flex;
	justify-content: center;
    align-items: center;
}

.scoreSection {
    /* align-self:center */
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.scoreRectangle {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items:center;
    background-color: #fbf593;
    border-radius: 30px 30px 30px 30px;
    width: 600px;
    height: 140px;
    font-size: 5rem;
    color: black;
    font-weight: bolder;
}

.oxygenBottle {
    width: 9rem;
    height: 9rem;
}

.leftRec{
    margin-right: 4rem;
    margin-left: 2rem;
    /*background-color: #2e98a4;*/
}

.icon {
    margin-right: 2rem;
}
.trashIcon {
    width: 4rem;
    height: 5rem;
}

.rubbishScore {
    font-weight: bold;
}


.deadDwellerIcon {
    width: 8rem;
    height: 5rem;   
}

.deadDwellers{
    font-weight: bold;
}

.rightRec{
    margin-left: 4rem;
    width: 600px;
}

.rightRec p {
    color: black;
    font-size: 3rem;
}

.rightScoreLeft {
    margin-right: .7rem;
}

.rightScoreRight{
    margin-left: .7rem;
}

.icons {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.secondLine {
    margin-top: 2rem;
}

.oxRec {
    margin-left: 2rem;
}

@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

body {
    margin: 0;
    padding: 0;
    font-family: 'Indie Flower', cursive;
    font-size: 16px;
    width: 100vw;
    height: 100vh;
    color: #3e4047;
    margin-top: 10rem;
    background-color:#3e4047;
    display: flex;
	justify-content: center;
}

.square {
    background-image: url('../assets/background/Hintergrund.png');
    background-size: 100% 100%;
    width: 150rem;
    height: 180rem;
    font-size: 4rem;
    display: flex;
    flex-direction: column;
	justify-content: center;
    text-align: center;
}

.square h1 {
    font-size: 11rem;
    margin-top: 10rem;
}

.square h2 {
    font-size: 7rem;
    margin-top: 40rem;
}

.square h3 {
    font-size: 5rem;
    margin-top: 5rem;
}

.text1 {
    
    font-weight: bold;
    font-size: 4rem;
}
.clickStart {
    font-size: 8rem;
    text-decoration: none;
    color:#2f9aa5;
    background-color: #2864a8;
    border-radius: 70% 70% 0% 0%;
    padding-top: 2rem;
    display: flex;
	justify-content: center;
    align-items: center;
    width: 150rem;
}